<ha-tile-creater></ha-tile-creater>

<div *tuiLet="(boards$ | async) as boards">
  <tui-tiles
    *ngIf="boards?.length; else noItems"
    class="tiles"
    [(order)]="order"
  >
    <tui-tile
      *ngFor="let item of boards; let index = index"
      tuiTileHandle
      class="tile"
      [style.order]="order.get(index)"
      [width]="item.width"
      [height]="item.height"
    >
      <div
        class="content"
        (click)="openDialog(item)"
      >
        <tui-svg
          tuiTileHandle
          src="tuiIconDragLarge"
          class="handle"
        ></tui-svg>
        {{ item.content }}
      </div>
    </tui-tile>
  </tui-tiles>

  <ng-template #noItems>
    <div>
      Нет созданных досок
    </div>
  </ng-template>
</div>
