<div class="menu_layout">
  <section>
    <button tuiButton type="button" appearance="flat" icon="tuiIconHome" [pseudoHover]="false">
      Домой
    </button>
  </section>
  <section>
    <button tuiButton type="button" appearance="flat" icon="tuiIconClipboard" [pseudoHover]="false">
      Доски
    </button>
  </section>
  <section>
    <button tuiButton type="button" appearance="flat" icon="tuiIconTable" [pseudoHover]="false">
      Таблицы
    </button>
  </section>
  <section>
    <button tuiButton type="button" appearance="flat" icon="tuiIconBarChart" [pseudoHover]="false">
      Графики
    </button>
  </section>
  <section>
    <button tuiButton type="button" appearance="flat" icon="tuiIconSettings" [pseudoHover]="false">
      Настройки
    </button>
  </section>
</div>
