<div class="menu_layout">
  <section>
    <a
      tuiButton
      type="button"
      appearance="flat"
      icon="tuiIconHome"
      [pseudoHover]="false"
      routerLink="welcome"
    >
      Домой
    </a>
  </section>
  <section>
    <a
      tuiButton
      type="button"
      appearance="flat"
      icon="tuiIconClipboard"
      [pseudoHover]="false"
      routerLink="boards"
    >
      Доски
    </a>
  </section>
  <section>
    <a
      tuiButton
      type="button"
      appearance="flat"
      icon="tuiIconTable"
      [pseudoHover]="false"
      routerLink="tables"
    >
      Таблицы
    </a>
  </section>
  <section>
    <a
      tuiButton
      type="button"
      appearance="flat"
      icon="tuiIconBarChart"
      [pseudoHover]="false"
      routerLink="charts"
    >
      Графики
    </a>
  </section>
  <section>
    <a
      tuiButton
      type="button"
      appearance="flat"
      icon="tuiIconSettings"
      [pseudoHover]="false"
      routerLink="settings"
    >
      Настройки
    </a>
  </section>
</div>
